<section class="header-10-sub v-center bg-midnight-blue">
    <div class="background">&nbsp;</div>
    <div>
        <div class="container">
            <div class="hero-unit">
                <h1>Startup Framework is a set of components</h1>
                <p>We’ve created the product that will help your<br> startup to look even better.</p>
            </div>
        </div>
    </div>
    <a class="control-btn fui-arrow-down" href="#"> </a>
</section>

<section class="content-5">
    <div class="container">
        <img src="../../common-files/icons/magic-wand@2x.png" width="200" height="200" alt="">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h3>Regístrate de forma fácil y gratuita y empieza a ofrecer a tus empleados las mejores ofertas</h3>
                <p class="lead">Permítenos crear, gestionar y optimizar tu programa de ofertas para empleados</p>
            </div>
        </div>
        <div class="row features">
            <div class="col-sm-4 col-sm-offset-2">
                <span class="fui-cmd"> </span>
                <h6>Compromiso</h6>
                <p>Refuerzas el vínculo con tus empleados. Ayúdales a ahorrar y ofréceles las ventajas de trabajar en una gran empresa.</p>
            </div>
            <div class="col-sm-4 col-sm-offset-1">
                <span class="fui-windows"> </span>
                <h6>Sencillez</h6>
                <p>De forma fácil y confidencial tus empleados podrán contratar los productos que les interesen.</p>
            </div>
        </div>
        <div class="row features">
            <div class="col-sm-4 col-sm-offset-2">
                <span class="fui-upload"> </span>
                <h6>Ahorro</h6>
                <p>Ahorra tiempo y dinero dejándonos gestionar este servicio por ti.</p>
            </div>
            <div class="col-sm-4 col-sm-offset-1">
                <span class="fui-credit-card"> </span>
                <h6>Calidad</h6>
                <p>Diariamente buscamos ofertas y proveedores para dar lo mejor a tus empleados. Además les ofrecemos una página moderna y atractiva.</p>
            </div>
        </div>
    </div>
</section>

<section class="content-4">
    <div class="container">
        <h3>Qué conseguirás</h3>
        <div class="row features">
            <div class="col-sm-4">
                <img src="../../common-files/icons/retina-ready-s@2x.png" alt="" width="117" height="104">
                <h6>Para tus empleados</h6>
                <p>Ofrecer a tus empleados una gran manera de ahorrar</p>
            </div>
            <div class="col-sm-4">
                <img src="../../common-files/icons/clock@2x.png" alt="" width="104" height="104">
                <h6>Para tu empresa</h6>
                <p>Diferenciarte ante otras empresas para atraer y mantener el talento.</p>
            </div>
            <div class="col-sm-4">
                <img src="../../common-files/icons/rocket@2x.png" alt="" width="101" height="101">
                <h6>Como marca</h6>
                <p>Reforzar tu marca como empleador de referencia</p>
            </div>
        </div>
    </div>
</section>