<div class="fileinput fileinput-new" data-provides="fileinput">
    <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
    <div>
        <span class="btn btn-primary btn-embossed btn-file">
            <span class="fileinput-new"><span class="fui-image"></span>  {{ selectText }}</span>
            <span class="fileinput-exists"><span class="fui-gear"></span>  {{updateText }}</span>
            <input type="file" name="imageUrl" ng-model="ngModel">
        </span>
        <a href="#" class="btn btn-primary btn-embossed fileinput-exists" data-dismiss="fileinput"><span class="fui-trash"></span> {{ deleteText }}</a>
    </div>
</div>