<section class="upload-section row">
	<div class="col-md-12" ng-file-drop-available="dropSupported=true">
		<div ng-if="dropSupported" class="drop-box bg-info" ng-file-drop="onFileSelect($files);">
            <span class="btn btn-primary btn-file">
                {{ selectText }}
                <input type="file" ng-file-select="onFileSelect($files)" >
            </span>
		</div>
		<div ng-if="!dropSupported">
            <span class="btn btn-primary btn-file">
                {{ selectText }}
                <input type="file" ng-file-select="onFileSelect($files)" >
            </span>		    
		</div>
    </div>

    <div class="col-md-12">
        <div class="table-responsive mtl" ng-show="selectedFiles != null">
            <table class="table table-striped table-hover">
                <tbody>
                <tr class="sel-file" ng-repeat="f in selectedFiles">
                    <td>
                        <img ng-show="dataUrls[$index]" ng-src="{{dataUrls[$index]}}" class="img-responsive img-tumbnail">
                    </td>
                    <td>{{ f.name }}</td>
                    <td>{{ f.size }}</td>
                    <td>{{ f.type }}</td>
                    <td>
                        <a class="btn btn-primary" ng-click="start($index)" ng-show="progress[$index] < 0">Subir</a>
                        <a class="btn btn-danger" ng-click="abort($index)" ng-show="hasUploader($index) && progress[$index] < 100">Cancelar</a>
                    </td>
                    <td>
                        <div class="progress" ng-show="progress[$index] >= 0">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{ progress[$index] }}" aria-valuemin="0" aria-valuemax="100" ng-style="{ width : progress[$index] }">
                                {{ progress[$index] + "%" }}
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

	<div class="col-md-12">
        <div class="alert alert-error" ng-show="error">
            <p>{{ error }}</p>
        </div>		    
	</div>
</section>