<!DOCTYPE html>
<html ng-app="Woben" lang="es">
<head>
    <meta charset="utf-8">
    <title>Template CSS</title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <link rel="stylesheet" href="/lib/startup/flat-ui/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/lib/startup/flat-ui/css/flat-ui.css">
    <link rel="stylesheet" href="/lib/startup/common-files/css/icon-font.css">
    <link rel="stylesheet" href="/lib/startup/common-files/css/animations.css">
    <link rel="stylesheet" href="/lib/startup/startup.css">

    <link rel="stylesheet" href="/lib/angular-dialog/ngDialog.css">
    <link rel="stylesheet" href="/lib/angular-dialog/ngDialog-default.css">
    <link rel="stylesheet" href="/lib/angular-dialog/ngDialog-plain.css">
    <link rel="stylesheet" href="/common-files/index.css">

</head>

<body>
    <div class="page-wrapper">
        <header class="header-10" ng-controller="HeaderController">
            <div class="container">
                <div class="row">
                    <div class="navbar col-sm-12" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle"></button>
                            <a class="brand" href="javascript:;" ui-sref="home">Woben</a>
                        </div>
                        <div class="collapse navbar-collapse pull-right">
                            <ul class="nav pull-left">
                                <li ui-sref-active="active">
                                    <a href="javascript:;" ui-sref="home">Inicio</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a href="javascript:;" ui-sref="publicProducts">Productos</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a href="javascript:;" ui-sref="contact">Contacto</a>
                                </li>                                
                                <li ui-sref-active="active">
                                    <a href="javascript:;" ui-sref="about">Acerca de</a>
                                </li>                                                       
                                <li ui-sref-active="active" ng-show="!User.isAuthenticated">
                                    <a href="javascript:;" ui-sref="login">Inicia sesión</a>
                                </li>
                                <li ui-sref-active="active" ng-show="User.isAuthenticated">
                                    <a href="/dashboard" target="_self">Tu Cuenta : {{ User.userName }}</a>
                                </li>
                                <li ng-show="User.isAuthenticated" ng-click="logout()">
                                    <a href="javascript:;">Desconectar</a>
                                </li>
                                <li ui-sref-active="active" ng-show="!User.isAuthenticated">
                                    <a href="javascript:;" ui-sref="register">Crea una nueva cuenta</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-background"></div>
        </header>

        <div ui-view autoscroll="false"></div>

    </div>

    <footer class="footer-1 bg-midnight-blue" ng-controller="FooterController">
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <p class="lead"><b>200,000</b> users registered since January</p>
                    We’ve created the product that will help your startup to look even better.
                    <p class="social-btns">
                        <img src="../../common-files/img/content/social-icons.png" alt="">
                    </p>
                </div>
                <nav>
                    <div class="col-sm-2 col-sm-offset-1">
                        <h6>Categories</h6>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Career</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-2">
                        <h6>Follow Us</h6>
                        <ul>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Instagram</a></li>
                        </ul>
                    </div>
                </nav>
                <div class="col-sm-2 buy-btn">
                    <a class="btn btn-danger btn-block" href="#">Buy App</a>
                    or <a href="#">Learn More</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5 additional-links">
                    <a href="#">Terms of Service</a>
                    <a href="#">Special Terms</a>
                    <a href="#">Privacy Policy</a>
                </div>
            </div>
        </div>
    </footer>

    <wo-loader></wo-loader>

    <!-- jQuery. Before angular for jQLite substitution -->
    <script type="text/javascript" src="/lib/startup/flat-ui/js/jquery-1.8.3.min.js"></script>
    
    <!-- Startup -->
    <script type="text/javascript" src="/lib/startup/flat-ui/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script type="text/javascript" src="/lib/startup/flat-ui/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/lib/startup/flat-ui/js/bootstrap-select.js"></script>
    <script type="text/javascript" src="/lib/startup/flat-ui/js/bootstrap-switch.js"></script>
    <script type="text/javascript" src="/lib/startup/common-files/js/jquery.scrollTo-1.4.3.1-min.js"></script>
    <script type="text/javascript" src="/lib/startup/common-files/js/modernizr.custom.js"></script>
    <script type="text/javascript" src="/lib/startup/common-files/js/page-transitions.js"></script>
    <script type="text/javascript" src="/lib/startup/common-files/js/easing.min.js"></script>
    <script type="text/javascript" src="/lib/startup/common-files/js/jquery.svg.js"></script>
    <script type="text/javascript" src="/lib/startup/common-files/js/jquery.svganim.js"></script>
    <script type="text/javascript" src="/lib/startup/common-files/js/jquery.parallax.min.js"></script>
    <script type="text/javascript" src="/lib/startup/flat-ui/js/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="/lib/startup/flat-ui/js/flatui-checkbox.js"></script>
    <script type="text/javascript" src="/lib/startup/flat-ui/js/flatui-radio.js"></script>
    <script type="text/javascript" src="/lib/startup/flat-ui/js/jquery.tagsinput.js"></script>
    <script type="text/javascript" src="/lib/startup/flat-ui/js/jquery.placeholder.js"></script>

    <!-- Startup kit -->
    <script type="text/javascript" src="/lib/startup/common-files/js/startup-kit.js"></script>
    
    <!-- Angular -->
    <script type="text/javascript" src="/lib/angular-file-upload/angular-file-upload-html5-shim.js"></script>
    <script type="text/javascript" src="/lib/angular/angular.js"></script>
    <script type="text/javascript" src="/lib/angular/angular-sanitize.js"></script>
    <script type="text/javascript" src="/lib/angular/angular-animate.js"></script>
    <script type="text/javascript" src="/lib/angular-ui-router/angular-ui-router.js"></script>
    <script type="text/javascript" src="/lib/angular-dialog/ngDialog.js"></script>
    <script type="text/javascript" src="/lib/angular-file-upload/angular-file-upload.js"></script>

    <!-- Typeahead -->
    <script type="text/javascript" src="/lib/typeahead/typeahead.bundle.js"></script>
    
    <!-- Woben Angular Modules -->
    <script type="text/javascript" src="/build/js/Woben.Common.min.js"></script>
    <script type="text/javascript" src="/build/js/Woben.Account.min.js"></script>
    <script type="text/javascript" src="/build/js/Woben.Products.js"></script>
    <script type="text/javascript" src="/build/js/Woben.Contact.min.js"></script>        
    <script type="text/javascript" src="/build/js/Woben.About.min.js"></script>            
    <script type="text/javascript" src="/build/js/Woben.Home.min.js"></script>
    <script type="text/javascript" src="/build/js/Woben.HomeInitializer.min.js"></script>    

</body>

</html>