<!DOCTYPE html>
<html ng-app="Woben" lang="es">
<head>
    <meta charset="utf-8">
    <title>Template CSS</title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <link rel="stylesheet" href="/lib/startup/flat-ui/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/lib/startup/flat-ui/css/flat-ui.css">
    <link rel="stylesheet" href="/lib/startup/common-files/css/icon-font.css">
    <link rel="stylesheet" href="/lib/startup/common-files/css/animations.css">

    <link rel="stylesheet" href="/lib/startup/ui-kit/ui-kit-blog/css/style.css">
    <link rel="stylesheet" href="/lib/startup/ui-kit/ui-kit-contacts/css/style.css">
    <link rel="stylesheet" href="/lib/startup/ui-kit/ui-kit-content/css/style.css">
    <link rel="stylesheet" href="/lib/startup/ui-kit/ui-kit-crew/css/style.css">
    <link rel="stylesheet" href="/lib/startup/ui-kit/ui-kit-footer/css/style.css">
    <link rel="stylesheet" href="/lib/startup/ui-kit/ui-kit-header/css/style.css">
    <link rel="stylesheet" href="/lib/startup/ui-kit/ui-kit-price/css/style.css">
    <link rel="stylesheet" href="/lib/startup/ui-kit/ui-kit-projects/css/style.css">

    <link rel="stylesheet" href="/lib/startup/app.css">

</head>

<body>
    <div class="page-wrapper">

        <header class="header-10" ng-controller="HeaderController">
            <div class="container">
                <div class="row">
                    <div class="navbar col-sm-12" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle"></button>
                            <a class="brand" href="javascript:;" ui-sref="home">Woben</a>
                        </div>
                        <div class="collapse navbar-collapse pull-right">
                            <ul class="nav pull-left">
                                <li ng-class="{'active' : $state.includes('home')}">
                                    <a href="javascript:;" ui-sref="home">Inicio</a>
                                </li>
                                <li ng-class="{'active' : $state.includes('products')}">
                                    <a href="javascript:;" ui-sref="products">Ver productos</a>
                                </li>
                                <li ng-class="{'active' : $state.includes('login')}" ng-show="!User.isAuthenticated">
                                    <a href="javascript:;" ui-sref="login">Login</a>
                                </li>
                                <li ng-class="{'active' : $state.includes('manage')}" ng-show="User.isAuthenticated">
                                    <a href="javascript:;" ui-sref="manage">{{ User.userName }}</a>
                                </li>
                                <li ng-show="User.isAuthenticated" ng-click="logout()">
                                    <a href="javascript:;">Desconectar</a>
                                </li>
                                <li ng-class="{'active' : $state.includes('register')}" ng-show="!User.isAuthenticated">
                                    <a href="javascript:;" ui-sref="register">Register</a>
                                </li>
                                <li ng-class="{'active' : $state.includes('dashboard')}" ng-show="User.isAuthenticated && User.roles.indexOf('Administrator') != -1">
                                    <a href="/dashboard" target="_self">Dashboard</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-background"></div>
        </header>

        <div ui-view autoscroll="false"></div>

        <footer class="footer-1 bg-midnight-blue">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5">
                        <p class="lead"><b>200,000</b> users registered since January</p>
                        We’ve created the product that will help your startup to look even better.
                        <p class="social-btns">
                            <img src="../../common-files/img/content/social-icons.png" alt="">
                        </p>
                    </div>
                    <nav>
                        <div class="col-sm-2 col-sm-offset-1">
                            <h6>Categories</h6>
                            <ul>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Team</a></li>
                                <li><a href="#">Career</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <h6>Follow Us</h6>
                            <ul>
                                <li><a href="#">Facebook</a></li>
                                <li><a href="#">Twitter</a></li>
                                <li><a href="#">Instagram</a></li>
                            </ul>
                        </div>
                    </nav>
                    <div class="col-sm-2 buy-btn">
                        <a class="btn btn-danger btn-block" href="#">Buy App</a>
                        or <a href="#">Learn More</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5 additional-links">
                        <a href="#">Terms of Service</a>
                        <a href="#">Special Terms</a>
                        <a href="#">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- Angular -->
    <script type="text/javascript" src="/lib/angular/angular.js"></script>
    <script type="text/javascript" src="/lib/angular/angular-ui-router.js"></script>

    <!-- Angular components -->

    <!-- Common module -->
    <script type="text/javascript" src="/app/common/init.js"></script>
    <script type="text/javascript" src="/app/common/checkboxDirective.js"></script>
    <script type="text/javascript" src="/app/common/errorDirective.js"></script>
    <script type="text/javascript" src="/app/common/authInterceptor.js"></script>
    <script type="text/javascript" src="/app/common/errorService.js"></script>
    <script type="text/javascript" src="/app/common/offcanvasDirective.js"></script>

    <!-- Account module -->
    <script type="text/javascript" src="/app/account/init.js"></script>
    <script type="text/javascript" src="/app/account/accountService.js"></script>
    <script type="text/javascript" src="/app/account/loginController.js"></script>
    <script type="text/javascript" src="/app/account/registerController.js"></script>
    <script type="text/javascript" src="/app/account/manageController.js"></script>

    <script type="text/javascript" src="/app/index.js"></script>


    <script type="text/javascript" src="/app/home/headerController.js"></script>
    <script type="text/javascript" src="/app/home/homeController.js"></script>
    <script type="text/javascript" src="/app/products/productsController.js"></script>
    <script type="text/javascript" src="/app/admin/dashboardController.js"></script>

    <!-- Startup -->
    <script type="text/javascript" src="/lib/startup/flat-ui/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/lib/startup/flat-ui/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script type="text/javascript" src="/lib/startup/flat-ui/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/lib/startup/flat-ui/js/bootstrap-select.js"></script>
    <script type="text/javascript" src="/lib/startup/flat-ui/js/bootstrap-switch.js"></script>
    <script type="text/javascript" src="/lib/startup/common-files/js/jquery.scrollTo-1.4.3.1-min.js"></script>
    <script type="text/javascript" src="/lib/startup/common-files/js/modernizr.custom.js"></script>
    <script type="text/javascript" src="/lib/startup/common-files/js/page-transitions.js"></script>
    <script type="text/javascript" src="/lib/startup/common-files/js/easing.min.js"></script>
    <script type="text/javascript" src="/lib/startup/common-files/js/jquery.svg.js"></script>
    <script type="text/javascript" src="/lib/startup/common-files/js/jquery.svganim.js"></script>
    <script type="text/javascript" src="/lib/startup/common-files/js/jquery.parallax.min.js"></script>
    <script type="text/javascript" src="/lib/startup/flat-ui/js/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="/lib/startup/flat-ui/js/flatui-checkbox.js"></script>
    <script type="text/javascript" src="/lib/startup/flat-ui/js/flatui-radio.js"></script>
    <script type="text/javascript" src="/lib/startup/flat-ui/js/jquery.tagsinput.js"></script>
    <script type="text/javascript" src="/lib/startup/flat-ui/js/jquery.placeholder.js"></script>

    <!-- Startup kit -->
    <script type="text/javascript" src="/lib/startup/common-files/js/startup-kit.js"></script>

</body>

</html>