<section class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div id="addCategory">
                <wo-errors title="Se han producido errores en tu solicitud" errors="modelErrors"></wo-errors>
                <form name="changePasswordForm" ng-submit="changePassword()" novalidate>
                    <div class="form-group" ng-class="{'has-error': changePasswordForm.oldPassword.$invalid && changePasswordForm.oldPassword.$dirty}">
                        <label>Tu password</label>
                        <input name="oldPassword" type="password" class="form-control" placeholder="El password actual" ng-model="oldPassword" required />
                        <span class="help-block" ng-show="changePasswordForm.oldPassword.$error.required && changePasswordForm.oldPassword.$dirty">Campo obligatorio</span>
                    </div>
                    <div class="form-group" ng-class="{'has-error': changePasswordForm.newPassword.$invalid && changePasswordForm.newPassword.$dirty}">
                        <label>El nuevo password</label>
                        <input name="newPassword" type="password" class="form-control" placeholder="El nuevo password que quieres utilizar" ng-model="newPassword" required />
                        <span class="help-block" ng-show="changePasswordForm.newPassword.$error.required && changePasswordForm.newPassword.$dirty">Campo obligatorio</span>
                    </div>       
                    <div class="form-group" ng-class="{'has-error': changePasswordForm.confirmPassword.$invalid && changePasswordForm.confirmPassword.$dirty}">
                        <label>Confirma el password</label>
                        <input name="confirmPassword" type="password" class="form-control" placeholder="Confirma el nuevo password que has introducido" ng-model="confirmPassword" required />
                        <span class="help-block" ng-show="changePasswordForm.confirmPassword.$error.required && changePasswordForm.confirmPassword.$dirty">Campo obligatorio</span>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-huge btn-info pull-right" ng-disabled="!changePasswordForm.$valid || disabled">Modifica tu password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>