<!-- http://www.ng-newsletter.com/posts/validations.html -->

<section class="content-20 v-center bg-midnight-blue" ng-hide="User.isAuthenticated">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h3>Introduce la dirección de mail con la que te has registrado</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="signup-form">
                        <wo-errors title="Se han producido errores en tu solicitud" errors="modelErrors"></wo-errors>
                        <form name="forgetPasswordForm" class="form-horizontal" ng-submit="startProcess()" novalidate>
                            <div class="form-group" ng-class="{'has-error': forgetPasswordForm.email.$invalid && forgetPasswordForm.email.$dirty}">
                                <label>Cual es tu email?</label>
                                <input name="email" type="email" class="form-control" placeholder="email" ng-model="email" required />
                                <span class="help-block" ng-show="forgetPasswordForm.email.$error.required && forgetPasswordForm.email.$dirty">Campo obligatorio</span>
                                <span class="help-block" ng-show="forgetPasswordForm.email.$error.email && forgetPasswordForm.email.$dirty">El email no es correcto</span>
                            </div>
                            <button class="btn btn-huge btn-info" ng-disabled="!forgetPasswordForm.$valid || disabled">Inicia el proceso</button>
                        </form>
                    </div>
                </div>
                <div class="col-sm-4 col-sm-offset-1 features">
                    <big>The most important part of the Startup Design Framework is the samples</big>
                    <div class="row">
                        <div class="col-sm-8">
                            <h6>Easy to use</h6>
                            To get started, you select the desired sample and build on the basis of its entire website.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <h6>Variety of designs</h6>
                            Responsive web design is a web design approach aimed at crafting sites to provide.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content-30" ng-show="User.isAuthenticated">
    <div class="container">
        <div class="row features">
            <div class="col-sm-3 box-1">
                <div class="description-top">
                    <h6>Easy to use</h6>
                    To get started, you select the desired sample and base the entire website on it.
                    <img src="../../common-files/img/content/arrow-tl@2x.png" width="61" height="97" alt="">
                </div>
                <div class="img">
                    <img src="../../common-files/img/content/screen-1-bw@2x.png" width="220" height="391" alt="">
                    <img src="../../common-files/img/content/screen-1@2x.png" width="220" height="391" alt="">
                </div>
                <div class="description-bottom">
                    <h6>Variety of designs</h6>
                    Without iconic symbolsreally finish your work - for clearly understand.
                    <img src="../../common-files/img/content/arrow-bl@2x.png" width="97" height="110" alt="">
                </div>
            </div>
            <div class="col-sm-3 box-2">
                <div class="description-top">
                    <h6>Easy to use</h6>
                    To get started, you select the desired sample and base the entire website on it.
                    <img src="../../common-files/img/content/arrow-tl@2x.png" width="61" height="97" alt="">
                </div>
                <div class="img">
                    <img src="../../common-files/img/content/screen-2-bw@2x.png" width="220" height="391" alt="">
                    <img src="../../common-files/img/content/screen-2@2xc-30.png" width="220" height="391" alt="">
                </div>
                <div class="description-bottom">
                    <h6>Variety of designs</h6>
                    Responsive web design is a web design approach aimed to provide crafting sites.
                    <img src="../../common-files/img/content/arrow-br@2x.png" width="97" height="110" alt="">
                </div>
            </div>
            <div class="col-sm-3 box-3">
                <div class="description-top">
                    <h6>Easy to use</h6>
                    To get started, you select the desired sample and base the entire website on it.
                    <img src="../../common-files/img/content/arrow-tr@2x.png" width="61" height="97" alt="">
                </div>
                <div class="img">
                    <img src="../../common-files/img/content/screen-3-bw@2x.png" width="220" height="391" alt="">
                    <img src="../../common-files/img/content/screen-3@2x.png" width="220" height="391" alt="">
                </div>
                <div class="description-bottom">
                    <h6>Variety of designs</h6>
                    Responsive web design is a web design approach aimed to provide crafting sites.
                    <img src="../../common-files/img/content/arrow-bl@2x.png" width="97" height="110" alt="">
                </div>
            </div>
            <div class="col-sm-3 box-4">
                <div class="description-top">
                    <h6>Quick Navigation</h6>
                    Without iconic symbolsreally finish your work - for clearly understand.
                    <img src="../../common-files/img/content/arrow-tr@2x.png" width="61" height="97" alt="">
                </div>
                <div class="img">
                    <img src="../../common-files/img/content/screen-4-bw@2x.png" width="220" height="391" alt="">
                    <img src="../../common-files/img/content/screen-4@2x.png" width="220" height="391" alt="">
                </div>
                <div class="description-bottom">
                    <h6>Variety of designs</h6>
                    Responsive web design is a web design approach aimed to provide crafting sites.
                    <img src="../../common-files/img/content/arrow-br@2x.png" width="97" height="110" alt="">
                </div>
            </div>
        </div>
    </div>
</section>