<section class="content-8">
    <div>
        <div class="container">
            <img src="/common-files/img/content/img-1@2x.png" width="397" height="193" alt="">
            <h3>Enhorabuena!!</h3>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <p>Tu cuenta ha sido confirmada. Puedes iniciar sesión y usar todas las características de Woben</p>
                    <a class="btn btn-large btn-clear" ui-sref="login">INICIA SESION</a>
                </div>
            </div>
        </div>
    </div>
</section>