header {
    background : #2f4154;
}

.st-offcanvas {
    margin-top : 50px;
}

#loader {
    position: fixed;
    right: 75px;
    z-index: 9999;
    top: 10px;
    display : none;
}

@media all and (min-width : 768px) {
    #loader {
        right: 250px;
    }
}

#signin span.icons {
    top : 5px !important;
}

#dashboard-menu {
    width : 70%;
    margin: 0 auto;
}

#dashboard-menu li {
    line-height: 2em;
}

#dashboard-menu li a {
    color : rgb(188, 195, 202);
}

#dashboard-menu li a:hover {
    color : #1abc9c;
}

#signin form {
    margin-top : 3em;
}

.dropdown-menu {
    min-height : 100px !important;
}

.pagination-container {
    text-align : center;
}

.buttonsContainer {
    margin-bottom : 1em;
}

.dropdown-menu {
    z-index : 999999;
}

/* */

.table [class*="fui-"] {
    top: 4px;
}

/* File upload section */

.upload-section .btn-file {
    position: relative;
    overflow: hidden;
}

.upload-section .drop-box .btn-file {
    width: 40%;
    margin: 0 auto;
    display: block;
    margin-top: 30px;
}

.upload-section .img-responsive {
    width : 40px;
    height : 40px;
}

.upload-section .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.upload-section .drop-box {
    width: 100%;
    border: 2px dotted #bbb;
    height: 100px;
    border-radius: 5px;
    background-color: #eee;
}

.upload-section .image {
    text-align: center;
    margin-top: 20px;
}

.upload-section .image img {
    width : 50px;
}

.upload-section .progress {
    width : 100px;
    position : relative;
    top : 10px;
}

.upload-section .sel-file  td span {
    position : relative;
    top : 10px;
}

/* Editor */

.editor {
    position : relative;
    height : 800px;
}

.editor textarea {
    height : 750px;
    resize: none;
}

.editor .iframe-wrapper {
    width: 100%;
    height: 750px;
    padding: 0;
    overflow: hidden;
}

.editor iframe {
    border : none;
    width : 100%;
    height : 750px;
    display : block;
}

.editor .mask {
    position: absolute;
    height: 750px;
    z-index: 999;
    width: 95%;
}

/* Animations */

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

[ui-view].ng-enter {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}