header {
    background : #2f4154;
}

.st-offcanvas {
    margin-top : 50px;
}

.st-offcanvas-main {
    padding-bottom : 30em !important;
}

#loader {
    position: fixed;
    right: 75px;
    z-index: 9999;
    top: 10px;
    display : none;
}

@media all and (min-width : 768px) {
    #loader {
        right: 250px;
    }
}

#signin span.icons {
    top : 5px !important;
}

#dashboard-menu {
    width : 70%;
    margin: 0 auto;
}

#dashboard-menu li {
    line-height: 2em;
}

#dashboard-menu li a {
    color : rgb(188, 195, 202);
}

#dashboard-menu li a:hover {
    color : #1abc9c;
}

#signin form {
    margin-top : 3em;
}

.dropdown-menu {
    min-height : 100px !important;
}