/* Startup fixes */

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  opacity: 0.7;
}

body {
  padding-top: 0;
}

span.icons {
    top : 5px !important;
}

.checkbox.checked,
.radio.checked {
    color: #1abc9c !important;
}

.content-20 .signup-form form input[type="email"] {
    width: 100%;
    font-size: 16px;
    font-weight: normal;
    color: #34495e;
    border-color: #ecf0f1;
}

.content-20 .signup-form form input[type="email"]:hover {
    border-color: #bdc3c7;
}

.content-20 .signup-form form input[type="email"]:focus {
    border-color: #3498db;
}

.content-20 .signup-form form .has-error input[type="text"],
.content-20 .signup-form form .has-error input[type="password"],
.content-20 .signup-form form .has-error input[type="email"] {
    border-color: #e74c3c;
}
.content-20 .signup-form form .has-error input[type="text"]:hover,
.content-20 .signup-form form .has-error input[type="password"]:hover,
.content-20 .signup-form form .has-error input[type="email"]:hover {
    border-color: #e74c3c;
}
.content-20 .signup-form form .has-error input[type="text"]:focus,
.content-20 .signup-form form .has-error input[type="password"]:focus,
.content-20 .signup-form form .has-error input[type="email"]:focus {
    border-color: #e74c3c;
}

.content-20 .signup-form form {
    width: 100%;
    margin : 0;
}

.crew-3 .title {
    text-align : center;
}

/* Helpers */
.pb0 {
    padding-bottom : 0;
}

.pt0 {
    padding-top : 0;
}