/* Startup fixes */

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  opacity: 0.7;
}

body {
  padding-top: 0;
}

span.icons {
    top : 5px !important;
}

#loader {
    position: fixed;
    right: 75px;
    z-index: 9999;
    top: 30px;
    display : none;
}

@media all and (min-width : 820px) {
    #loader {
        right: 15px;
    }
}

.checkbox.checked,
.radio.checked {
    color: #1abc9c !important;
}

.content-20 .signup-form form input[type="email"] {
    width: 100%;
    font-size: 16px;
    font-weight: normal;
    color: #34495e;
    border-color: #ecf0f1;
}

.content-20 .signup-form form input[type="email"]:hover {
    border-color: #bdc3c7;
}

.content-20 .signup-form form input[type="email"]:focus {
    border-color: #3498db;
}

.content-20 .signup-form form .has-error input[type="text"],
.content-20 .signup-form form .has-error input[type="password"],
.content-20 .signup-form form .has-error input[type="email"] {
    border-color: #e74c3c;
}
.content-20 .signup-form form .has-error input[type="text"]:hover,
.content-20 .signup-form form .has-error input[type="password"]:hover,
.content-20 .signup-form form .has-error input[type="email"]:hover {
    border-color: #e74c3c;
}
.content-20 .signup-form form .has-error input[type="text"]:focus,
.content-20 .signup-form form .has-error input[type="password"]:focus,
.content-20 .signup-form form .has-error input[type="email"]:focus {
    border-color: #e74c3c;
}

.content-20 .signup-form form {
    width: 100%;
    margin : 0;
}

.crew-3 .title {
    text-align : center;
}

/* Helpers */
.pb0 {
    padding-bottom : 0;
}

.pt0 {
    padding-top : 0;
}

.twitter-typeahead .tt-dropdown-menu {
    top : 190px !important;
    z-index : 9999999999 !important;
    background: #FFF;
    opacity:1 !important;
}

.twitter-typeahead .tt-dropdown-menu span {
    cursor : pointer;
    opacity :1 !important;
}

.twitter-typeahead .tt-hint { 
  opacity:1 !important;
}

@media all and (min-width : 768px) {
    .twitter-typeahead .tt-dropdown-menu {
        top : 100px !important;
    }
}

.alert-error {
    background-color: #f8f5f5;
    border-color: #ebe9ea;
}
.alert-error a {
    color: #e74c3c;
}

.radio .icons {
    margin-top : -5px; 
}

#contact .help-block {
    margin-top : -20px;
}

/* Animations */

[ui-view].ng-enter, [ui-view].ng-leave {
  -webkit-transition:all .4s ease-in-out;
    -moz-transition:all .4s ease-in-out;
    -o-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
  /*-webkit-transform:scale3d(0.5, 0.5, 0.5);
  -moz-transform:scale3d(0.5, 0.5, 0.5);
  transform:scale3d(0.5, 0.5, 0.5);*/
}

[ui-view].ng-enter-active {
  opacity: 1;
  /*-webkit-transform:scale3d(1, 1, 1);
  -moz-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);*/
}

[ui-view].ng-leave {
  display: none; 
  /*opacity : 1
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);*/
}

[ui-view].ng-leave-active {
  /*opacity: 0;
  -webkit-transform:translate3d(100px, 0, 0);
  -moz-transform:translate3d(100px, 0, 0);
  transform:translate3d(100px, 0, 0);*/
}

.lead-centered-link {
    font-size: 1.2em;
    text-align: center;
    width: 100%;
    display: inline-block;
}