<section class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div id="addProduct">
                <wo-errors title="Se han producido errores en tu solicitud" errors="modelErrors"></wo-errors>
                <form name="addProductForm" ng-submit="addProduct()" novalidate>
                    <div class="form-group" ng-class="{'has-error': addProductForm.title.$invalid && addProductForm.title.$dirty}">
                        <label>Nombre del producto</label>
                        <input name="title" type="text" class="form-control" placeholder="Nombre" ng-model="title" required />
                        <span class="help-block" ng-show="addProductForm.title.$error.required && addProductForm.title.$dirty">Campo obligatorio</span>
                    </div>
                    <div class="form-group" ng-class="{'has-error': addProductForm.description.$invalid && addProductForm.description.$dirty}">
                        <label>Descripción del producto</label>
                        <textarea name="description" class="form-control" placeholder="Descripcion" ng-model="description" required></textarea>
                        <span class="help-block" ng-show="addProductForm.description.$error.required && addProductForm.description.$dirty">Campo obligatorio</span>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-huge btn-info" ng-disabled="!addProductForm.$valid || disabled">Registrate</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>