<section class="container-fluid">          
    <div class="row">
        <div class="col-sm-12">
		    <div class="form-group">
		        <div class="input-group">		            	              
		            <input type="text" class="form-control" placeholder="Busca entre los mensajes" ng-model="query">
		            <span class="input-group-btn">
			           	<button type="submit" class="btn" ng-click="search()"><span class="fui-search"></span></button>
		            </span>
		        </div>
		    </div>
        </div>    
        <div class="col-sm-12">
            <wo-errors title="Se han producido errores en tu solicitud" errors="modelErrors"></wo-errors>
        </div>
    </div>
    <hr/>
    <div class="table-responsive" ng-show="messages.length > 0">
        <table class="table table-striped table-hover">
            <tbody>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
					<th>Fecha</th>
                    <th>Usuario</th>
					<th>Acciones</th>
                </tr>
                <tr ng-repeat="message in messages">
                    <td>#{{ message.messageId }}</td>
                    <td>{{ message.name }}</td>
                    <td>{{ message.createdDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
					<td>{{ message.createdBy }}</td>
                    <td>
                        <div class="btn-group">
                            <a ng-click="checkMessage(message)" class="btn btn-primary btn-xs"><span class="fui-new"></span></a>
                            <a href="javascript:;" ng-click="sureToDelete(message)" class="btn btn-danger btn-xs"><span class="fui-cross"></span></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
	
	<a class="btn btn-primary col-md-12" href="javascript:;" ng-click="loadMore()" ng-disabled="noMore">Cargar los siguientes {{ top }} mensajes</a>
	
</section>