<section class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div id="addProduct">
                <wo-errors title="Se han producido errores en tu solicitud" errors="modelErrors"></wo-errors>
                <form name="addProductForm" ng-submit="addProduct()" novalidate>
                    <div class="form-group" ng-class="{'has-error': addProductForm.name.$invalid && addProductForm.name.$dirty}">
                        <label>Escribe un nombre para tu nuevo producto</label>
                        <input name="name" type="text" class="form-control" placeholder="Nombre" ng-model="name" required />
                        <span class="help-block" ng-show="addCategoryForm.name.$error.required && addCategoryForm.name.$dirty">Campo obligatorio</span>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-huge btn-info pull-right" ng-disabled="!addProductForm.$valid || disabled">Crear Producto</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>