<section class="content-13 subscribe-form bg-turquoise">
    <div class="container">
        <div class="row">
            <form>
                <div class="col-sm-8">
                    <input  type="text" wo-typeahead placeholder="Ej. seguro vida" spellcheck="false" options="searchOptions" datasets="searchData" ng-model="searchModel">
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-large btn-primary" type="submit" ng-click="search()">
                        Comienza a buscar
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>

<wo-errors title="Se han producido errores en tu solicitud" errors="modelErrors"></wo-errors>

<section class="crew-3 pbs">
    <div class="container">
        <div class="title">
            <a href="javascript:;" ng-class="{ active : category.categoryId == selectedCategoryId}" ng-repeat="category in categories" ng-click="filterByCategory(category.categoryId)">{{ category.name }}</a>
        </div>
    </div>
</section>

<section class="crew-2 pts">
    <div class="container">
        <div class="members" ng-repeat="productGroup in pagedProducts">
            <div class="member-wrapper" ng-click="navigateToDetail(product)" ng-repeat="product in productGroup" ng-style="{'visibility' : product.dummy ? 'collapse' : ''}">
                <div class="member">
                    <div class="photo-wrapper">
                        <div class="photo" ng-style="{ 'background-image': 'url(' + product.imageUrl + ')'}"></div>
                        <div class="name">{{ product.name }}</div>
                        <div class="position">{{ product.category.name }}</div>
                    </div>
                    <div class="info">
                        {{ product.description }}
                        <div class="social-btns">
                            <a href="#">
                                <div class="fui-vimeo"></div>
                                <div class="fui-vimeo"></div>
                            </a>
                            <a href="#">
                                <div class="fui-facebook"></div>
                                <div class="fui-facebook"></div>
                            </a>
                            <a href="#">
                                <div class="fui-twitter"></div>
                                <div class="fui-twitter"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.container-->
</section>

<section class="content-12">
    <a class="wide btn-wide" ng-click="loadMore()" href="#"><b>Carga más productos</b></a>
</section>