<section id="product-view" class="blog-1">
    <div class="title">
        <div class="container">
            <h3 ng-bind="product.name"></h3>
            <div class="submitted" ng-bind="product.createdDate | date"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 links">
                <div class="tags">
                    <h6>TAGS</h6>
                    <ul>
                        <li><a href="#">design</a></li>
                        <li><a href="#">web design</a></li>
                        <li><a href="#">tutorials</a></li>
                        <li><a href="#">thoughts</a></li>
                    </ul>
                </div>
                <div class="comments">
                    <h6>Category</h6>
                    <a href="#" ng-bind="product.category.Name"></a>
                </div>
            </div>
            <div class="col-sm-9">
                <p ng-bind="product.description"></p>
			</div>
        </div>
    </div>
</section>

<section id="content" ng-bind-html="trustedHtml">

</section>