<section class="blog-1" id="product-view">
    <div id="b1-pt-1" class="page-transitions pt-perspective" ng-show="product.features.length > 0">
        <div class="pt-page  pt-page-current bg-midnight-blue {{ 'pt-page-' + ($index + 1) }}"  ng-repeat="feature in product.features">
            <div class="container">
                <div class="box-icon">
                    <a class="pt-control-prev" href="#"></a>
                    <span class="icon fui-mic"></span>
                    <a class="pt-control-next" href="#"></a>
                </div>
                <div class="hero-unit">
                    <h1 ng-bind="feature.name"></h1>
                    <p ng-bind="feature.description"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="title">
        <div class="container">
            <h3 ng-bind="product.name"></h3>
            <div class="submitted" ng-bind="product.description"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 links">
                <div class="tags">
                    <h6>Etiquetas</h6>
                    <ul>
                        <li ng-repeat="tag in product.tags"><a href="#" ng-bind="tag.name"></a></li>
                    </ul>
                </div>
                <div class="comments">
                    <h6>Categoria</h6>
                    <a href="javascript:;" ng-bind="product.category.name"></a>
                </div>
            </div>
            <div class="col-sm-9" ng-bind-html="trustedHtml">

            </div>
        </div>
    </div>
</section>

<section class="contacts-1">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h3>Estás interesado en este producto?. <br> Envíanos un mensaje y te llamamos gratis</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <form>
                    <label class="h6">Nombre</label>
                    <input type="text" class="form-control" ng-value="User.userName" ng-disabled="true">
                    <label class="h6">Email</label>
                    <input type="text" class="form-control" ng-value="User.email" ng-disabled="true">
                    <label class="h6">Tu teléfono</label>
                    <input type="phone" class="form-control" placeholder="Ej. 635678937">
                    <label class="h6">Qué es lo que necesitas saber</label>
                    <textarea rows="7" class="form-control"></textarea>
                    <button type="submit" class="btn btn-primary"><span class="fui-mail"></span></button>
                </form>
            </div>
            <div class="col-sm-4 col-sm-offset-1">
                <div class="additional">
                    <h6>Necesitas ayuda?</h6>
                    <p>No dudes en contactar con nosotros a través de este formulario o  bien envíanos un email directamente <a href="#">admin@woben.com</a>. También puedes llamarnos al teléfono <b>902-001-001</b>. Puedes mirar nuestra sección de preguntas frecuentes <a href="#">FAQ</a> y la página de <a href="#">Ayuda</a> para conseguir más información acerca de nuestros productos.</p>
                </div>
                <div class="additional">
                    <h6>Acerca de este formulario de contacto ...</h6>
                    <p>A través del formulario de la izquierda también puedes contactar con nosotros.</p>
                </div>
                <div class="phone">
                    <big>902 001 001</big>
                    DISPONIBLES LAS 24h
                </div>
            </div>
        </div>
    </div>
</section>