<section id="product-view" class="blog-1 pb0">
    <div id="b1-pt-1" class="page-transitions pt-perspective">
        <div class="pt-page pt-page-1 bg-midnight-blue">
            <div class="container">
                <div class="box-icon">
                    <a class="pt-control-prev" href="#"></a>
                    <span class="icon fui-mic"></span>
                    <a class="pt-control-next" href="#"></a>
                </div>
                <div class="hero-unit">
                    <h1 ng-bind="product.name"></h1>
                    <p ng-bind="product.description"></p>
                </div>
            </div>
        </div>
        <div class="pt-page pt-page-2 pt-page-current bg-midnight-blue">
            <div class="container">
                <div class="box-icon">
                    <a class="pt-control-prev" href="#"></a>
                    <span class="icon fui-mic"></span>
                    <a class="pt-control-next" href="#"></a>
                </div>
                <div class="hero-unit">
                    <h1 ng-bind="product.category.name"></h1>
                    <p ng-bind="product.createdDate | date"></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="content" ng-bind-html="trustedHtml">

</section>